./P3P1free-critical-main/7critP3P1free13.txt
./nauty2_8_8.tar.gz
./nauty2_8_8

11graphs.g6
13graphs.g6

nauty2_8_8.tar.gz
nauty2_8_8/.c
nauty2_8_8/addedgeg
nauty2_8_8/addedgeg.c
nauty2_8_8/addptg
nauty2_8_8/addptg.c
nauty2_8_8/amtog
nauty2_8_8/amtog.c
nauty2_8_8/ancestorg
nauty2_8_8/ancestorg.c
nauty2_8_8/assembleg
nauty2_8_8/assembleg.c
nauty2_8_8/biplabg
nauty2_8_8/biplabg.c
nauty2_8_8/bliss2dre.c
nauty2_8_8/callgeng.c
nauty2_8_8/callgeng2.c
nauty2_8_8/catg
nauty2_8_8/catg.c
nauty2_8_8/changes24-28.txt
nauty2_8_8/checks6.c
nauty2_8_8/complg
nauty2_8_8/complg.c
nauty2_8_8/config.guess
nauty2_8_8/config.log
nauty2_8_8/config.status
nauty2_8_8/config.sub
nauty2_8_8/config.txt
nauty2_8_8/configure
nauty2_8_8/configure.ac
nauty2_8_8/converseg
nauty2_8_8/converseg.c
nauty2_8_8/copyg
nauty2_8_8/copyg.c
nauty2_8_8/COPYRIGHT
nauty2_8_8/countg
nauty2_8_8/countneg
nauty2_8_8/countneg.c
nauty2_8_8/cubhamg
nauty2_8_8/cubhamg.c
nauty2_8_8/deledgeg
nauty2_8_8/deledgeg.c
nauty2_8_8/delptg
nauty2_8_8/delptg.c
nauty2_8_8/dimacs2g
nauty2_8_8/dimacs2g.c
nauty2_8_8/directg
nauty2_8_8/directg.c
nauty2_8_8/dreadnaut
nauty2_8_8/dreadnaut.c
nauty2_8_8/dretodot
nauty2_8_8/dretodot.c
nauty2_8_8/dretodot.c-old
nauty2_8_8/dretog
nauty2_8_8/dretog.c
nauty2_8_8/edgetransg
nauty2_8_8/edgetransg.c
nauty2_8_8/formats.txt
nauty2_8_8/genbg
nauty2_8_8/genbg.c
nauty2_8_8/genbgL
nauty2_8_8/geng
nauty2_8_8/geng.c
nauty2_8_8/gengL
nauty2_8_8/genktreeg
nauty2_8_8/genktreeg.c
nauty2_8_8/genposetg
nauty2_8_8/genposetg.c
nauty2_8_8/genquarticg
nauty2_8_8/genquarticg.c
nauty2_8_8/genrang
nauty2_8_8/genrang.c
nauty2_8_8/genspecialg
nauty2_8_8/genspecialg.c
nauty2_8_8/gentourng
nauty2_8_8/gentourng.c
nauty2_8_8/gentreeg
nauty2_8_8/gentreeg.c
nauty2_8_8/gtnauty.c
nauty2_8_8/gtnauty.o
nauty2_8_8/gtnautyL.o
nauty2_8_8/gtnautyL1.o
nauty2_8_8/gtnautyS.o
nauty2_8_8/gtnautyS1.o
nauty2_8_8/gtnautyW.o
nauty2_8_8/gtnautyW1.o
nauty2_8_8/gtools-h.in
nauty2_8_8/gtools.c
nauty2_8_8/gtools.h
nauty2_8_8/gtools.o
nauty2_8_8/gtoolsL.o
nauty2_8_8/gtoolsS.o
nauty2_8_8/gtoolsW.o
nauty2_8_8/gutil1.c
nauty2_8_8/gutil1.o
nauty2_8_8/gutil1L.o
nauty2_8_8/gutil1L1.o
nauty2_8_8/gutil1S.o
nauty2_8_8/gutil1S1.o
nauty2_8_8/gutil1W.o
nauty2_8_8/gutil1W1.o
nauty2_8_8/gutil2.c
nauty2_8_8/gutil2.o
nauty2_8_8/gutil2L.o
nauty2_8_8/gutil2L1.o
nauty2_8_8/gutil2S.o
nauty2_8_8/gutil2S1.o
nauty2_8_8/gutil2W.o
nauty2_8_8/gutil2W1.o
nauty2_8_8/gutil3.c
nauty2_8_8/gutils.h
nauty2_8_8/hamheuristic
nauty2_8_8/hamheuristic.c
nauty2_8_8/install-sh
nauty2_8_8/labelg
nauty2_8_8/labelg.c
nauty2_8_8/LICENSE-2.0.txt
nauty2_8_8/linegraphg
nauty2_8_8/linegraphg.c
nauty2_8_8/listg
nauty2_8_8/listg.c
nauty2_8_8/makefile
nauty2_8_8/makefile.basic
nauty2_8_8/makefile.in
nauty2_8_8/multig
nauty2_8_8/multig.c
nauty2_8_8/namedgraphs.h
nauty2_8_8/nauchromatic.c
nauty2_8_8/nauchromatic.h
nauty2_8_8/nauchromatic.o
nauty2_8_8/nauchromaticL.o
nauty2_8_8/nauchromaticS.o
nauty2_8_8/nauchromaticW.o
nauty2_8_8/naucompare.c
nauty2_8_8/nauconnect.c
nauty2_8_8/nauconnect.h
nauty2_8_8/nauconnect.o
nauty2_8_8/nauconnectL.o
nauty2_8_8/nauconnectQ1.o
nauty2_8_8/nauconnectS.o
nauty2_8_8/nauconnectW.o
nauty2_8_8/naugraph.c
nauty2_8_8/naugraph.o
nauty2_8_8/naugraph1.o
nauty2_8_8/naugraphL.o
nauty2_8_8/naugraphL1.o
nauty2_8_8/naugraphS.o
nauty2_8_8/naugraphS1.o
nauty2_8_8/naugraphW.o
nauty2_8_8/naugraphW1.o
nauty2_8_8/naugroup.c
nauty2_8_8/naugroup.h
nauty2_8_8/naugroup.o
nauty2_8_8/naugroupL.o
nauty2_8_8/naugroupS.o
nauty2_8_8/naugroupW.o
nauty2_8_8/naugstrings.c
nauty2_8_8/naugstrings.h
nauty2_8_8/naurng_knuth.c
nauty2_8_8/naurng_knuth.h
nauty2_8_8/naurng.c
nauty2_8_8/naurng.h
nauty2_8_8/naurng.o
nauty2_8_8/nausparse.c
nauty2_8_8/nausparse.c-old
nauty2_8_8/nausparse.h
nauty2_8_8/nausparse.o
nauty2_8_8/nausparseL.o
nauty2_8_8/nausparseS.o
nauty2_8_8/nausparseW.o
nauty2_8_8/nautaux.c
nauty2_8_8/nautaux.h
nauty2_8_8/nautest.c
nauty2_8_8/nautest1.dre
nauty2_8_8/nautest1a.ans
nauty2_8_8/nautest1a.dre
nauty2_8_8/nautest1b.ans
nauty2_8_8/nautest1b.dre
nauty2_8_8/nautest1c.ans
nauty2_8_8/nautest1c.dre
nauty2_8_8/nautest2.dre
nauty2_8_8/nautest2a.ans
nauty2_8_8/nautest2b.ans
nauty2_8_8/nautest2c.ans
nauty2_8_8/nautesta.ans
nauty2_8_8/nautestb.ans
nauty2_8_8/nautestb1.ans
nauty2_8_8/nautestb2.ans
nauty2_8_8/nautestb3.ans
nauty2_8_8/nautestc.ans
nauty2_8_8/nautestd.ans
nauty2_8_8/nauteste.ans
nauty2_8_8/nautestf.ans
nauty2_8_8/nautestg.ans
nauty2_8_8/nautesth.ans
nauty2_8_8/nautesti.ans
nauty2_8_8/nautestj.ans
nauty2_8_8/nautestk.ans
nauty2_8_8/nautestl.ans
nauty2_8_8/nautestm.ans
nauty2_8_8/nautestn.ans
nauty2_8_8/nautesto.ans
nauty2_8_8/nautestp.ans
nauty2_8_8/nautestq.ans
nauty2_8_8/nautestr.ans
nauty2_8_8/nautests.ans
nauty2_8_8/nautestt.ans
nauty2_8_8/nautestu.ans
nauty2_8_8/nautestv.ans
nauty2_8_8/nautestw.ans
nauty2_8_8/nautestx.ans
nauty2_8_8/nauthread1.c
nauty2_8_8/nauthread2.c
nauty2_8_8/nautil.c
nauty2_8_8/nautil.o
nauty2_8_8/nautil1.o
nauty2_8_8/nautilL.o
nauty2_8_8/nautilL1.o
nauty2_8_8/nautilS.o
nauty2_8_8/nautilS1.o
nauty2_8_8/nautilW.o
nauty2_8_8/nautilW1.o
nauty2_8_8/nautinv.c
nauty2_8_8/nautinv.h
nauty2_8_8/nautinv.o
nauty2_8_8/nautinv1.o
nauty2_8_8/nautinvL.o
nauty2_8_8/nautinvL1.o
nauty2_8_8/nautinvS.o
nauty2_8_8/nautinvS1.o
nauty2_8_8/nautinvW.o
nauty2_8_8/nautinvW1.o
nauty2_8_8/naututil-h.in
nauty2_8_8/naututil.c
nauty2_8_8/naututil.h
nauty2_8_8/naututil.o
nauty2_8_8/naututil1.o
nauty2_8_8/naututilL.o
nauty2_8_8/naututilL1.o
nauty2_8_8/naututilS.o
nauty2_8_8/naututilS1.o
nauty2_8_8/naututilW.o
nauty2_8_8/naututilW1.o
nauty2_8_8/nauty-h.in
nauty2_8_8/nauty-pc.in
nauty2_8_8/nauty.a
nauty2_8_8/nauty.c
nauty2_8_8/nauty.h
nauty2_8_8/nauty.o
nauty2_8_8/nauty.pc
nauty2_8_8/nauty1.a
nauty2_8_8/nauty1.o
nauty2_8_8/nautycliquer.c
nauty2_8_8/nautycliquer.h
nauty2_8_8/nautycliquer.o
nauty2_8_8/nautycliquerL.o
nauty2_8_8/nautycliquerS.o
nauty2_8_8/nautycliquerW.o
nauty2_8_8/nautyex1.c
nauty2_8_8/nautyex2.c
nauty2_8_8/nautyex3.c
nauty2_8_8/nautyex4.c
nauty2_8_8/nautyex5.c
nauty2_8_8/nautyex6.c
nauty2_8_8/nautyex7.c
nauty2_8_8/nautyex8.c
nauty2_8_8/nautyex9.c
nauty2_8_8/nautyex10.c
nauty2_8_8/nautyL.a
nauty2_8_8/nautyL.o
nauty2_8_8/nautyL1.a
nauty2_8_8/nautyL1.o
nauty2_8_8/nautyQ.a
nauty2_8_8/nautyQ1.a
nauty2_8_8/nautyS.a
nauty2_8_8/nautyS.o
nauty2_8_8/nautyS1.a
nauty2_8_8/nautyS1.o
nauty2_8_8/nautyW.a
nauty2_8_8/nautyW.o
nauty2_8_8/nautyW1.a
nauty2_8_8/nautyW1.o
nauty2_8_8/nbrhoodg
nauty2_8_8/nbrhoodg.c
nauty2_8_8/newedgeg
nauty2_8_8/newedgeg.c
nauty2_8_8/no4holes.c
nauty2_8_8/NRswitchg
nauty2_8_8/NRswitchg.c
nauty2_8_8/nug28.pdf
nauty2_8_8/numleaves.c
nauty2_8_8/pickg
nauty2_8_8/planarg
nauty2_8_8/planarg.c
nauty2_8_8/planarity.c
nauty2_8_8/planarity.h
nauty2_8_8/poptest.c
nauty2_8_8/productg
nauty2_8_8/productg.c
nauty2_8_8/quarticirred28.h
nauty2_8_8/ranlabg
nauty2_8_8/ranlabg.c
nauty2_8_8/ransubg
nauty2_8_8/ransubg.c
nauty2_8_8/README
nauty2_8_8/README_24
nauty2_8_8/runalltests
nauty2_8_8/runalltests.in
nauty2_8_8/schreier.c
nauty2_8_8/schreier.h
nauty2_8_8/schreier.o
nauty2_8_8/schreier.txt
nauty2_8_8/schreierL.o
nauty2_8_8/schreierS.o
nauty2_8_8/schreierW.o
nauty2_8_8/shortg
nauty2_8_8/shortg.c
nauty2_8_8/showg
nauty2_8_8/showg.c
nauty2_8_8/sorttemplates.c
nauty2_8_8/splay.c
nauty2_8_8/subdivideg
nauty2_8_8/subdivideg.c
nauty2_8_8/sumlines.c
nauty2_8_8/testg.c
nauty2_8_8/This_is_nauty2_8_8.txt
nauty2_8_8/traces.c
nauty2_8_8/traces.c-old
nauty2_8_8/traces.h
nauty2_8_8/traces.h-old
nauty2_8_8/traces.o
nauty2_8_8/twohamg
nauty2_8_8/twohamg.c
nauty2_8_8/underlyingg
nauty2_8_8/underlyingg.c
nauty2_8_8/vcolg
nauty2_8_8/vcolg.c
nauty2_8_8/watercluster2
nauty2_8_8/watercluster2.c
